* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
* body {
  background-image: url(../images/logosite.png);
  background-size: 10%;
  background-position: center center;
  height: 100vh;
}
* body .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid rgb(81, 169, 241);
  border-radius: 5px;
  padding: 2%;
  background-color: rgba(8, 67, 122, 0.9);
  color: aliceblue;
}
* body .container h1 {
  color: rgba(240, 248, 255, 0.7);
}
* body .container h2 {
  color: rgba(240, 248, 255, 0.9);
}
* body .container h3 {
  margin-top: 15px;
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
}